.container {
  padding: 0 2rem;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.headerContainer {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer h1 {
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--primary-heading-color);
  text-align: center;
  width: 100%;
}

.headerWrapper {
  width: 100%;
}

.resultContainer {
  display: inline-flex;
  width: 100%;
  align-content: center;
  flex-flow: row wrap;
}

.regionContainer {
  border: var(--region-border);
  background-color: var(--region-background);
  border-radius: 5px;
  padding: 10px 10px 20px;
  margin: 5px;
}

.regionContainer h2 {
  color: var(--primary-heading-color)
}

.regionSmall {
  flex-grow: 1;
}

.regionMedium {
  flex-grow: 2;
}

.regionLarge {
  flex-grow: 3;
}

.resultContainer h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .regionSmall {
    order: 2
  }

  .regionMedium {
    order: 1
  }

  .regionLarge {
    order: 4
  }
}

.dataCenterWrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  text-align: right;
  font-size: 10pt;
  height: 25px;
  padding: 0 5px;
}

.footer a {
  text-decoration: underline;
  color: var(--primary-heading-color);
  cursor: pointer;
}