.container {
    color: var(--text-color);
    width: 60%;
    position: absolute;
    margin: 20px auto;
    left: 0; 
    right: 0; 
    text-align: center;
}

.message {
    font-size: 11pt;
}

.warningIcon {
    color: rgba(255, 191, 0, 1);
    font-size: 16pt;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 2px;
}